body {
    margin:20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.profile-img {
    width:150px;
    border-radius:60%;
    border:4px solid  #beb0f7;
}

.card {
    padding:20px;
    display: flex;
    justify-content: space-around;
    width:400px;
    margin:0px auto;   /* or use margin: 0 auto 0 auto; */
    text-align:center;
    color:#2b2839;
    background: #ddebf8;
    border-bottom: 6px solid #beb0f7;
}

