p {
    font-size: 20px;
}

h1 {
    text-decoration:double underline;
    font-size: 30px;
    color: darkblue;
}
h2 {
    font-size: 30px;
    color: darkmagenta;
    text-decoration: solid underline;
}

li {
    font-size: 20px;
}

body {
    background-color:thistle;
    margin:none;
}

img {
    border-radius:30px;
    border-style: solid;
    margin-left:25px;
    height:700px;
    width:96%;
}

 